/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    background-color: rgb(216, 216, 216);
}

button {
    padding: 10px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 10px;
}
